<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %> 
    </head>

    <body class="container">
        <header>
            <%- include('../partials/header'); %> 
        </header>

        <main style="margin-top: 20px; margin-bottom: 25px;">
        <div class="row align-items-center">
            <div class="col-md-4 ml-auto d-flex align-items-centre">
                <div style="overflow: hidden;">
                    <img src="bunker_island.png" class="img-fluid">
                </div>
            </div>
            <div class="col-md-8">
                    <h1>Hello!</h1>
                    <p>I'm Mitchell Henry, a 2nd year student studying Computer Science at UNSW Sydney. This is my personal website, 
                        where I host information about my projects as well as detailing my thoughts as I develop software systems. I am currently looking for internships and part-time software jobs. You
                        can contact me or learn more through the About page.</p>
            </div>
        </div>
        </main>
        <hr>
        <footer>
            <%- include('../partials/footer'); %> 
        </footer>
    </body>
</html>